body{
    background-color:#292929;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container
{
    background-color: aliceblue;
    width: 450px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input
{
    display: none;
}
.button{
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnleft
{
    width: 200px;
    height: 150px;
    background: linear-gradient(#404040,#323232);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 40px;
    color: white;
    border-left: 3px solid #1b1b1b;
    border-top: 3px solid #1b1b1b;
    border-bottom: 3px solid #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: 300;
}
.btnright
{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 300;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 40px;
    background: linear-gradient(#404040,#323232);
   transition: all 0.2s;
   border: 3px solid #1b1b1b;
   border-left: 1px solid #1b1b1b;
   cursor: pointer;
}
#leftbutton:checked ~ .btnleft{
    color: yellow;
    box-shadow: inset 5px 0 10px 0 #000;
    text-shadow: 0 0 10px rgb(242, 242, 130);
    .box
    {
        background-color: yellow;
    }
}
#rightbutton:checked ~ .btnright{
    color: red;
    box-shadow: inset 5px 0 10px 0 #000;
    text-shadow: 0 0 10px rgb(249, 140, 140);
}